.card{
    display: flex;
    width: 30rem;
    height: 30rem;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: 2rem;
    background-image: url("../../../public/images/loja-parceira01.png");
}

.title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
}

.description{
    font-size: 1rem;
    color: #555;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.4;
}

