* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 6rem;
  font-family: var(--font-montserrat), sans-serif;
}

/* Paleta de Cores */

/* Verde bem escuro */
/* --cor-1: #07261D;  rgb(7, 38, 29) */

/* Verde profundo */
/*--cor-2: #115945; /* rgb(17, 89, 69) */

/* Verde médio */
/*--cor-3: #177351; /* rgb(23, 115, 81) */

/* Verde claro */
/*--cor-4: #7EBF83; /* rgb(126, 191, 131) */

/* Verde amarelado */
/*--cor-5: #A8BF54; /* rgb(168, 191, 84) */

/* Bege Logo */
/* rgb(239, 227, 204) */

/* Branco Suave */
/* #025B2C */
/* Branco Suave */
/* #09653E */

